DB_HOST=localhost
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=tu_password_aqui
DB_PORT=5432

ACTIVEMQ_HOST=127.0.0.1
ACTIVEMQ_PORT=61613
ACTIVEMQ_QUEUE=/queue/inventario_movimientos
ACTIVEMQ_USER=admin
ACTIVEMQ_PASSWORD=tu_password_activemq
